/* cyrillic-ext */

@font-face {
    font-family: 'ProximaNova-Regular';
    font-style: normal;
    src: local('ProximaNova Regular'), local('ProximaNova-Regular'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/proximanova/proximanova-regular.otf) format('truetype');
}


/* cyrillic */

@font-face {
    font-family: 'ProximaNova-SemiBold';
    font-style: normal;
    src: local('ProximaNova SemiBold'), local('ProximaNova-SemiBold'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/proximanova/proxima-nova-semibold.otf) format('truetype');
}

@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 200;
    src: local('ProximaNova Thin'), local('ProximaNova-Regular'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/proximanova/proxima-nova-thin.otf) format('truetype');
}

@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 300;
    src: local('ProximaNova Thin'), local('ProximaNova-Thin'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/proximanova/proxima-nova-thin.otf) format('truetype');
}

@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 400;
    src: local('ProximaNova Regular'), local('ProximaNova-Regular'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/proximanova/proximanova-regular.otf) format('truetype');
}


/* cyrillic */

@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: 500;
    src: local('ProximaNova SemiBold'), local('ProximaNova-SemiBold'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/proximanova/proxima-nova-semibold.otf) format('truetype');
}


/* cyrillic */

@font-face {
    font-family: 'ProximaNova';
    font-style: normal;
    font-weight: bold;
    src: local('ProximaNova SemiBold'), local('ProximaNova-SemiBold'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/proximanova/proxima-nova-semibold.otf) format('truetype');
}


/* cyrillic-ext */

@font-face {
    font-family: 'SanFranciscoText-Medium';
    font-style: normal;
    src: local('SanFranciscoText Medium'), local('SanFranciscoText-Medium'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/sanFrancisco/sanfranciscotext-medium.otf) format('truetype');
}

@font-face {
    font-family: 'SanFranciscoText-Regular';
    font-style: normal;
    src: local('SanFranciscoText Regular'), local('SanFranciscoText-Regular'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/sanFrancisco/sanfranciscotext-regular.otf) format('truetype');
}

@font-face {
    font-family: 'SanFranciscoText-Semibold';
    font-style: normal;
    src: local('SanFranciscoText Semibold'), local('SanFranciscoText-Semibold'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/sanFrancisco/sanfranciscotext-semibold.otf) format('truetype');
}


/* cyrillic-ext */

@font-face {
    font-family: 'SanFranciscoDisplay-Semibold';
    font-style: normal;
    src: local('SanFranciscoDisplay Semibold'), local('SanFranciscoText-Medium'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/sanFrancisco/sanfranciscodisplay-semibold.otf) format('truetype');
}

@font-face {
    font-family: 'Charter';
    font-style: normal;
    src: local('Charter Roman'), local('Charter-Roman'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/charter/charter-roman.ttf) format('truetype');
}

@font-face {
    font-family: 'Charter';
    font-style: italic;
    src: local('Charter Italic'), local('Charter-Italic'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/charter/charter-italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Charter';
    font-style: normal;
    font-weight: 500;
    src: local('Charter Bold'), local('Charter-Bold'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/charter/charter-bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Charter';
    font-style: normal;
    font-weight: bold;
    src: local('Charter Bold'), local('Charter-Bold'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/charter/charter-bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Charter';
    font-style: italic;
    font-weight: 500;
    src: local('Charter BoldItalic'), local('Charter-BoldItalic'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/charter/charter-bold-italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Charter';
    font-style: italic;
    font-weight: bold;
    src: local('Charter BoldItalic'), local('Charter-BoldItalic'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/charter/charter-bold-italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Charter';
    font-style: italic;
    font-weight: bold;
    src: local('Charter BoldItalic'), local('Charter-BoldItalic'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/charter/charter-bold-italic.ttf) format('truetype');
}

@font-face {
    font-family: 'ChronicaPro-Light';
    font-style: normal;
    font-weight: 300;
    src: local('ChronicaPro Light'), local('ChronicaPro-Light'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/chronicapro/ChronicaPro-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'ChronicaPro-Light';
    font-style: normal;
    font-weight: lighter;
    src: local('ChronicaPro Light'), local('ChronicaPro-Light'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/chronicapro/ChronicaPro-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'ChronicaPro';
    font-style: normal;
    src: local('ChronicaPro Regular'), local('ChronicaPro-Regular'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/chronicapro/ChronicaPro-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'ChronicaPro-Medium';
    font-style: normal;
    font-weight: 500;
    src: local('ChronicaPro Medium'), local('ChronicaPro-Medium'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/chronicapro/ChronicaPro-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'ChronicaPro-Medium';
    font-style: normal;
    font-weight: bold;
    src: local('ChronicaPro Medium'), local('ChronicaPro-Medium'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/chronicapro/ChronicaPro-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'ChronicaPro-Bold';
    font-style: normal;
    font-weight: 600;
    src: local('ChronicaPro Bold'), local('ChronicaPro-Bold'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/chronicapro/ChronicaPro-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'ChronicaPro-Bold';
    font-style: normal;
    font-weight: bolder;
    src: local('ChronicaPro Bold'), local('ChronicaPro-Bold'), url(https://dndw32r4edmw5.cloudfront.net/assets/frontend-js/fonts/chronicapro/ChronicaPro-Bold.ttf) format('truetype');
}