*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  margin: 0;
  font-family: ChronicaPro;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  background: #fafafa;
}

a {
  color: #4a90e2;
}

.fraction {
  display: inline-block;
  text-align: center;
}

.top,
.bottom {
  padding: 0 5px;
}

.bottom {
  border-top: 1px solid;
  display: block;
}

img {
  width: 100%;
  height: auto;
}
